<div class="feedback_wrapper dm_cover">
  <div class="club_video_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
        <div class="dmx_heading_wraper">
          <img src="./assets/images/head5.png" alt="img" />
          <h2>customer feedback</h2>
          <div class="bars bars2">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <p>
            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
            lorem quis <br />
            bibendum auctor, nisi elit consequat.
          </p>
        </div>
      </div>
      <div class="col-lg-9 offset-lg-1 col-md-12 col-sm-12">
        <div class="tc_twtfd_wrapper dm_cover">
          <div class="owl-carousel">
            <div class="owl-item">
              <div class="feedback_content_wraper dm_cover">
                <div class="news_main_img_wrapper">
                  <img src="./assets/images/landing/lawrence.jpg" alt="img" />
                </div>

                <div class="news_btm_cntnt">
                  <i class="flaticon-quote-left"></i>
                  <p>
                    Got my wedding reception photos and video from here nice
                    work n best part is no delay in work and also at reasonable
                    price.. happy with the service.
                  </p>
                  <div class="news_avatar_wraper">
                    <a href="#">Arun Kumar</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="feedback_content_wraper dm_cover">
                <div class="news_main_img_wrapper">
                  <img src="./assets/images/feedback_img.png" alt="img" />
                </div>
                <div class="news_btm_cntnt">
                  <i class="flaticon-quote-left"></i>
                  <p>
                    Packages and web page editors now use Lorem Ipsum as their
                    am efault model text yr,and a search.
                  </p>
                  <div class="news_avatar_wraper">
                    <a href="#">Janny Doe</a><span>(Club Member)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partner_item_wrapper dm_cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="partner_item_slider">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-star"></i>
                <p><a href="#">VIP Zone</a></p>
              </div>
            </div>
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-hookah"></i>
                <p><a href="#">Event Photography</a></p>
              </div>
            </div>
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-tray"></i>
                <p><a href="#"> Birthday Bash </a></p>
              </div>
            </div>
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-wine"></i>
                <p><a href="#">Wedding</a></p>
              </div>
            </div>
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-sofa"></i>
                <p><a href="#"> Baby Theme Shoot </a></p>
              </div>
            </div>
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-floor"></i>
                <p><a href="#">Modeling Shoot</a></p>
              </div>
            </div>
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-floor"></i>
                <p><a href="#">Photo Gifts</a></p>
              </div>
            </div>
            <div class="item">
              <div class="partner_wrapper_content">
                <i class="flaticon-floor"></i>
                <p><a href="#">Customized Gifts</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
