<div class="slider-area dm_cover">
  <div class="main_slider_overly"></div>
  <div
    id="carousel-example-generic"
    class="carousel slide"
    data-ride="carousel"
    data-interval="false"
  >
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-captions caption-1">
          <div class="container">
            <div class="row">
              <div
                class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12"
              >
                <div class="content">
                  <h2 data-animation="animated zoomInDown">Eden Photolab</h2>

                  <div
                    data-animation="animated fadeIn"
                    class="slider_border"
                  ></div>

                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-captions caption-2">
          <div class="container">
            <div class="row">
              <div
                class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12"
              >
                <div class="content">
                  <h2 data-animation="animated zoomInDown">
                    welcome to night club bar
                  </h2>
                  <div data-animation="animated" class="slider_border"></div>

                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-captions caption-3">
          <div class="container">
            <div class="row">
              <div
                class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12"
              >
                <div class="content">
                  <h2 data-animation="animated zoomInDown">
                    welcome to night club bar
                  </h2>
                  <div data-animation="animated" class="slider_border"></div>

                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li
          data-target="#carousel-example-generic"
          data-slide-to="0"
          class="active"
        >
          <span class="number"></span>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="">
          <span class="number"></span>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class="">
          <span class="number"></span>
        </li>
      </ol>
      <div class="carousel-nevigation">
        <a
          class="prev"
          href="#carousel-example-generic"
          role="button"
          data-slide="prev"
        >
          <i class="flaticon-long-arrow-pointing-to-left"></i>
          <span>PR<br />EV</span>
        </a>
        <a
          class="next"
          href="#carousel-example-generic"
          role="button"
          data-slide="next"
        >
          <span>NE<br />XT</span>
          <i class="flaticon-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
