<div class="footer_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="footer_about_content">
          <div class="footer_img_logo">
            <a href="#"
              ><img
                src="./assets/images/landing/logo-big.png"
                class="img-responsive logo-footer"
                alt="logo"
            /></a>
          </div>
          <div class="footer_abotus_content">
            <p>
              Our goal is to provide high-quality solutions and services at
              competitive prices. Customer satisfaction is our top priority, and
              we prioritize friendly and transparent interactions with our
              clients. This approach not only helps us maintain strong
              relationships with existing customers but also allows us to expand
              our customer base. We are committed to continuously enhancing the
              quality of our products and services through innovation and
              dedication.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="wrapper_second_blog footer_heading">
          <h4>Our Team</h4>
          <div class="blog_wrapper1">
            <div class="blog_image">
              <img
                src="./assets/images/landing/lawrence.jpg"
                class="img-responsive contact-img"
                alt="blog-img1_img"
              />
            </div>
            <div class="blog_text">
              <h5><a href="#">Lawrence Nimesh </a></h5>
              <div class="blog_date">Founder, CEO</div>
            </div>
          </div>
          <div class="blog_wrapper2">
            <div class="blog_image">
              <img
                src="./assets/images/landing/lawrence.jpg"
                class="img-responsive contact-img"
                alt="blog-img2_img"
              />
            </div>
            <div class="blog_text">
              <h5><a href="#">Lawrence Nimesh </a></h5>
              <div class="blog_date">Founder, CEO</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="wrapper_second_contact footer_heading">
          <h4>contact us</h4>

          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i
              ><span>36, Madhavaram High Road, Periyar Nagar</span>
            </li>
            <li>
              <i class="fa fa-phone"></i
              ><span>
                <a href="tel:9884884429"> 98848 84429</a> ,
                <a href="tel:98848 84459"> 98848 84459</a></span
              >
            </li>
            <li>
              <i class="fa fa-envelope"></i
              ><a href="#">contact@edenphotolab.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
