<div class="map_wrapper">
  <div id="map"></div>
</div>
<div class="booking_table_wrapper contact_top_wrapper dm_cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
        <div class="dmx_heading_wraper">
          <img src="./assets/images/head7.png" alt="img" />
          <h2>get in touch</h2>
          <div class="bars bars2">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>

          <p>
            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
            lorem quis <br />
            bibendum auctor, nisi elit consequat.
          </p>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
        <div class="booking_form_field contact_us_field_wrapper">
          <form>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-pos form_field">
                  <div class="form-group i-name">
                    <input
                      type="text"
                      name="first_name"
                      class="form-control require"
                      placeholder="Your Name*"
                    />
                    <i class="fas fa-user"></i>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-e form_field">
                  <div class="form-group i-email">
                    <label class="sr-only">Email </label>
                    <input
                      type="email"
                      name="email"
                      class="form-control require"
                      placeholder="You Email *"
                      data-valid="email"
                      data-error="Email should be valid."
                    />
                    <i class="fas fa-envelope"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-m form_field">
                  <div class="form-group i-name">
                    <input
                      type="text"
                      name="contact_no"
                      class="form-control"
                      placeholder="phone no."
                    />
                    <i class="fas fa-phone"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-m form_field">
                  <div class="form-group i-name">
                    <input
                      type="text"
                      name="subject"
                      class="form-control"
                      placeholder="subject"
                    />
                    <i class="fas fa-info-circle"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-e form_field">
                  <div class="form-group i-email">
                    <textarea
                      name="message"
                      class="form-control require"
                      rows="4"
                      placeholder=" Message"
                    ></textarea>
                    <i class="fas fa-comment"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="tb_es_btn_div">
                  <div class="response"></div>
                  <div class="tb_es_btn_wrapper">
                    <input type="hidden" name="form_type" value="contact" />
                    <button type="button" class="submitForm">
                      send message
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
