<div class="gallery_wrapper portfolio_grid dm_cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
        <div class="dmx_heading_wraper">
          <img src="./assets/images/head4.png" alt="img" />
          <h2>our gallery</h2>
          <div class="bars bars2">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>

          <p>Some of our Work</p>
        </div>
      </div>
    </div>
  </div>
  <ul class="protfoli_filter">
    <li class="active" data-filter="*"><a href="#"> all</a></li>
    <li data-filter=".dribbble"><a href="#">images</a></li>
    <li data-filter=".behance"><a href="#">videos</a></li>
  </ul>
  <div class="row portfoli_inner pi_3">
    <!-- Items -->
    <div
      class="p-0 portfolio_boxes_width dribbble behance #"
      *ngFor="let _ of [].constructor(20); let i = index"
    >
      <div class="portfolio_item">
        <img [src]="'./assets/images/gallery/' + (i + 1) + '.jpg'" alt="" />
        <div class="portfolio_hover">
          <div class="zoom_popup">
            <a
              class="img-link"
              [href]="'./assets/images/gallery/' + (i + 1) + '.jpg'"
            >
              <i class="flaticon-add-button"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
